body {
    background-image: url('./bg-tile-baked.svg');
    color: rgb(3, 3, 60);
}

#nav {
    background-color: white;
}

#logo {
    width: 20%;
}

#airplane {
    transform: rotate(90deg);
}

#container {
    width: 70%;
}

#date {
    text-align: center;
}

#details {
    width: 250px;
    margin: auto;
}

.adult {
    flex-direction: row-reverse;
    height: 57px;
    flex-wrap: wrap;
    text-align: right;

}

#num1,
#num2,
#num3 {
    width: 46px;
    margin-left: 7px;
    height: 35px;

}

#btn_pay {
    background-color: #f7bf39;
    width: 180px;
    margin: auto;
}

#btn_pay:hover {
    background-color: rgb(6, 6, 106);
    color: white;
}

.wWorng {
    font-size: 10px;
    color: red;
    display: inline-block;
}

#anonymous {
    margin-top: 150px;
    margin-left: 40%;
    width: 20%;

}

#targat {
    text-align: center;
    color: rgb(6, 6, 106);
    font-size: 20px;
}

#plan {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.47);
    margin-top: 25px;
    margin-left: 38%;
}

#p {
    text-align: center;
}

#border {
    border-style: dotted;
    height: 15px;
}

#home {
    background-image: url('./HP4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    animation: homeH 200s infinite;
}

@keyframes homeH {
    0% {
        background-image: url('./נופים.jpg');
    }

    30% {
        background-image: url('./תמונת+נוף+-+אוסטריה\ \(1\).jpg');
    }

    60% {
        background-image: url('./888.jpg');
    }

    90% {
        background-image: url('./unnamed.png');
    }
  
}

#b-home {
    background-image: none;
}

#homeLogo {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 114px;

}

#Airplane {
    size: 20px;
    width: 50%;
    margin-right: 3px;
}

#text {
    font-family: AAA, varela round;
    font-size: 50px;
    font-weight: 500;
    color: rgb(6, 6, 106);
}

#recommended {
    color: #132333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    padding-top: 35px;
}

#stack {
    width: 150px;
    border-top: 3px solid;
    margin: auto;
}

#nuvB {
    margin-top: 30px;
    padding-top: 30px;
    background-color: rgb(6, 6, 106);
    height: 218px;
    color: white;
    justify-content: space-evenly;
}

#important,
#forYoy {
    display: flex;
    flex-direction: column;
}

#icons {
    display: flex;
    justify-content: space-between;
    width: 173px;   
}

.icon {
    transition: all 0.3s ease-in-out;
    font-size: 25px;
    
}

.icon:hover {
    text-decoration: none;
    transform: rotate(360deg);

}

.planFlex {
    display: flex;
    justify-content: space-between;
    width: 93%;
}

#price {
    margin-top: 14px;
    text-align: center;
}

.card{
    transition: all 0.3s ease-in-out;
}
.card:hover{
    transform: scale(0.98);
}
.header{
    text-align: center;
    font-size: 25px;
    padding-top: 51px;
    padding-bottom: 6px;

}
.bold{
    font-weight: bold;

}